<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Til · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="nav" role="navigation">
          <ul class="flex align-center">
            <li>
              <%= link "TIL", to: Routes.page_path(@conn, :index) %>
            </li>
            <li>
              <%= link "Register", to: Routes.account_path(@conn, :new), class: "btn" %>
            </li>
          <%# <%= if @current_user do %1> %>
          <%#   <li> %>
          <%#     Welcome, <%= @current_user.name %1>! %>
          <%#     <img src="<%= @current_user.avatar %1>" class="img-circle"/> %>
          <%#     <%= button "Logout", to: Routes.auth_path(@conn, :delete), method: :delete, class: "btn" %1> %>
          <%#   </li> %>
          <%# <% else %1> %>
          <%#   <li><%= link("Sign in", to: Routes.auth_path(@conn, :request, "github")) %1></li> %>
          <%# <% end %1> %>
          </ul>
        </nav>
      </div>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
