<p>Dear <%= @user.username %>, </p>

<p>
  You have recently request to reset your password. You can
  <%= link "reset your password now", to: Routes.reset_password_path(TilWeb.Endpoint, :edit, @user.reset_password_token) %>. It will be expired within 15 minutes.
</p>

<p>Please ignore this email if you did not request to change your password</p>



