<div class="card">
  <div class="card-body">
    <table class="table table-borderless mb-0">
      <tr>
        <td class="d-flex">
          <img src="<%= Routes.static_path(@conn, "/images/github-mark.png")%>" alt="GitHub Logo" class="social-icon">
          <p>GitHub:</p>
        </td>
        <td>
          <%= link "Connect", to: Routes.auth_path(@conn, :request, "github"), class: "btn btn-sm btn-light" %>
        </td>
      </tr>
    </table>

  </div>
</div>
