<div class="row justify-content-center">
  <div class="col-md-10">
    <%= render "profile.html", assigns %>
    <%= render TilWeb.PostView, "posts.html", Map.merge(assigns, %{posts: @posts, page: @page}) %>
  </div>
</div>
