@import url('https://fonts.googleapis.com/css?family=Muli:400,700')

/* This file is for your main application css.

// Boostrap Variable Override
$badge-font-size: 85%
$badge-padding-y: .4em
$navbar-padding-x: 0

$font-family-sans-serif: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
$headings-font-weight: 700
@import "../node_modules/bootstrap/scss/bootstrap"

$primary-bg-color: #f5f7f9

@import "side-menu"
@import "post"
@import "card"

body, html
  background-color: $primary-bg-color
  margin: 0
  padding: 0

  height: 100%

article
  h1
    font-size: 2.0rem
  h2
    font-size: 1.75rem
  h3
    font-size: 1.35rem
  h4, h5, h6
    font-size: 1.15rem

.w-md-75
  width: 100%
  padding: 0 15px !important

.btn-white
  background: white
  border-color: #bfbdbd

  &:hover
    background: #f8f9fa

  &:focus
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5)

@media (min-width: 768px)
  .w-md-75
    width: 75%

// Others
.social-icon
  width: 1.5rem
  height: 1.5rem

  & + p
    margin-left: 8px
    margin-bottom: 0

.profile-picture
  width: 120px
  height: 120px
  border-radius: 50%

.avatar
  width: 35px
  height: 35px

.dropdown-toggle-no-icon

  &:after
    display: none

.border-bottom
  border-bottom: 1px solid #ebebeb

.empty-state
  img
    width: 200px
    margin-bottom: 1.5rem
  h4
    color: #6a8095

// Editor
#textarea
  max-height: 400px

.editor-content
  background-color: white
  padding: 1rem
  min-height: 100%

.editor-nav-form
  padding-left: 1rem
  padding-right: 1rem
  display: flex
  flex-grow: 1
  justify-content: space-between
  align-items: center

.transparent-form-control
  border: 0
  width: 100%
  background-color: transparent

  &:focus
    outline: none

