@import url('https://fonts.googleapis.com/css?family=Muli:400,700')

/* This file is for your main application css.

// Boostrap Variable Override
$badge-font-size: 85%
$badge-padding-y: .4em
$navbar-padding-x: 0

$font-family-sans-serif: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
$headings-font-weight: 700
@import "../node_modules/bootstrap/scss/bootstrap"
@import "side-menu"

.w-md-75
  width: 100%
  padding: 0 15px !important

#textarea
  max-height: 400px

article
  h1
    font-size: 2.0rem
  h2
    font-size: 1.75rem
  h3
    font-size: 1.35rem
  h4, h5, h6
    font-size: 1.15rem


@media (min-width: 768px)
  .w-md-75
    width: 75%


body, html
  background-color: #f5f7f9
  margin: 0
  padding: 0

  height: 100%

.social-icon
  width: 1.5rem
  height: 1.5rem

  & + p
    margin-left: 8px
    margin-bottom: 0

.profile-picture
  width: 120px
  height: 120px
  border-radius: 50%

.avatar
  width: 35px
  height: 35px

.dropdown-toggle-no-icon

  &:after
    display: none

.border-bottom
  border-bottom: 1px solid #ebebeb

.empty-state
  img
    width: 200px
    margin-bottom: 1.5rem
  h4
    color: #6a8095

.transparent-form-control
  border: 0
  width: 100%

  &:focus
    outline: none

