/* This file is for your main application css. */

@import "./phoenix.css";

body, html {
  background: #eaf1f8;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: bold;
}

.nav {
  background: white;
  border-bottom: 1px solid #DDD;

  padding: 10px 0;
  margin-bottom: 4rem;
}

.nav div {
  list-style: none;
}

.nav a {
  padding: 6px;
  margin: 0;
}

.nav .brand {
  font-size: 2.5rem;
  font-weight: 400;
  color: black;
}

.post {
  padding: 20px;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}

.post + .post {
  margin-top: 2rem;
}

.empty-state img {
  width: 200px;
  margin-bottom: 1.5rem;
}

.empty-state h4 {
  color: #6a8095;
}



/* Helper */
.img-circle {
  border-radius: 50%;
  width: 50px;
}

.flex           { display: flex; }
.flex-column    { flex-direction: column; }
.align-center   { align-items: center; }
.justify-center { justify-content: center; }
.space-between  { justify-content: space-between; }
