/* This file is for your main application css. */

@import "./phoenix.css";

.img-circle {
  border-radius: 50%;
  width: 50px;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}
