$light-gray: #f6f8fa
$very-light-gray: #e9ecef
$github-orange: #e36209

.side-menu
  position: relative

  min-width: 250px
  max-width: 250px
  margin-right: 20px

.side-menu-items
  margin: 0
  padding: 0

  width: 100%
  background: #FFF
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem

  overflow: hidden

  & + &
    margin-top: 10px

.side-nav-title
  padding: 12px 30px
  color: white
  font-weight: bold
  font-size: 0.9rem;
  background-color: #24292e

.side-nav-item
  list-style: none

  &:not(.side-nav-title) + &
    border-top: 1px solid $very-light-gray

.side-nav-link
  color: $blue
  display: block
  padding: 10px 20px
  position: relative
  transition: all .4s

  &.active
    cursor: default
    font-weight: bold
    color: $dark

    &:before
      content: ""
      position: absolute
      background-color: $github-orange
      width: 2px
      bottom: 0
      left: 0
      top: 0

    &:hover
      color: $dark
      background-color: transparent


  &:hover
    background-color: $light-gray
    text-decoration: none
    color: $blue
