<div class="row justify-content-center">
  <div class="col-8 card">
    <div class="card-body">
      <h1>Edit Post</h1>

      <%= render "form.html", Map.put(assigns, :action, Routes.post_path(@conn, :update, @post)) %>
      <span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
    </div>
  </div>
</div>

