<h1>Edit Post</h1>

<div class="box">
  <%= render "form.html", Map.put(assigns, :action, Routes.post_path(@conn, :update, @post)) %>
</div>

<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
